.event-list {
    list-style: none;
    margin-left: 0;
    
    li {
        padding-left: 0;
        margin-left: 0;
    }
}

.event-list .event {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    
    h4 {
        margin-bottom: 0;
        font-weight: 600;
    }
}

.event-list .expand-button {
    padding-bottom: 1em;
    
    & > * {
        width: 100%;
        display: inline-block;
    }
    
    button {
        color: $mid-gray;
        border: none;
        background: none;
    }
    
    button:hover {
        text-decoration: underline;
    }
    
    span {
        color: $mid-gray;
        
        &::before {
            content: "\25CB\25CB\25CB";
            font-size: 8px;
            letter-spacing: 1.1em;
            margin-right: -1.1em;
        }
    }
}

.event-range {
    @extend %clearfix;
    padding-bottom: 2em;
}

.header-event {
    width: 50%;
    float: left;
    text-align: center;
    
    h3 {
        text-transform: uppercase;
        font-size: 0.8rem;
        color: $mid-gray;
        margin-bottom: -0.2em;
    }
    
    h2 {
        margin-bottom: 0.1em;
    }
    
    p {
        padding: 0 0.4em;
    }
}
