.summary {
    display: block;
    margin-bottom: 2.4em;
    font-size: 18px;
    font-style: italic;
    
    i {
        padding: 0 0.3em;
        font-size: 14px;
        font-style: normal; // :)
    }
}