$timeline-height: 60px;

.timeline {
    @extend %clearfix;
    
    position: relative;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 3em;
    
    .start-label, .end-label {
        position: absolute;
        top: $timeline-height + 20px;
    }
    
    .start-label {
        left: 0;
    }
    
    .end-label {
        right: 0;
    }
    
    .generations, events {
        width: 100%;
        position: relative;
        z-index: 10;
    }
    
    .events {
        padding: 10px;
    }
    
    .timeline-body {
        height: $timeline-height;
    }
}

.generation {
    position: absolute;
    background: #74CEB7;
    border-radius: 100px;
    height: 10px;
    top: $timeline-height / 2;

    .year-label {
        display: none;
        white-space: nowrap;
        width: 20em;
    }
    
    &:hover .year-label {
        position: absolute;
        display: block;
        width: 100%;
        top: -2.4em;
        left: 0;
    }
    
    &:nth-child(even) {
        margin-top: -10px;
    }
    
    &.active {
        background: #ef6f56;
    }
    
    .overlap {
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 100px;
    }
    
    .right-overlap {
        right: 0;
    }
}

.event {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100px;

    background: black;
    
    .event-label {
        display: none;
        white-space: nowrap;
        width: 20em;
    }
    
    &:hover .event-label {
        display: block;
    }
}

.timeline-ticks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $timeline-height;
    pointer-events: none;
    z-index: 100;
}