$timeline-height: 60px;

.timeline {
    @extend %clearfix;
    
    position: relative;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 3em;
    
    .start-label, .end-label {
        position: absolute;
        bottom: -30px;
    }
    
    .start-label {
        left: 0;
    }
    
    .end-label {
        right: 0;
    }
    
    .generations, events {
        width: 100%;
        min-height: 100%;
        position: relative;
        z-index: 10;
    }
    
    .events {
        padding: 10px;
    }
    
    .timeline-body {
        height: $timeline-height;
        margin-bottom: 1em;
    }
}

.timeline .generation {
    position: absolute;
    border-radius: 100px;
    border: 1px solid white;
    height: 8px;
    top: calc(50% + 10px);
    bottom: 0;
    margin: auto;

    .year-label {
        display: none;
        white-space: nowrap;
        width: 100%;
        text-align: center;
        background: white;
    }
    
    &:hover .year-label {
        position: absolute;
        display: block;
        width: 100%;
        top: -2.4em;
        left: 0;
    }
    
    &.active {
        background: #ed9270;
    }
}

.timeline .event {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100px;
    background: black;
    
    .event-label {
        display: none;
        white-space: nowrap;
        width: 20em;
    }
    
    &:hover .event-label {
        display: block;
    }
}

.current-year {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 5px solid transparent;
    border-bottom-color:red;
    margin-left: -5px;
}

.timeline-ticks {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    
    width: 100%;
    height: $timeline-height;
    pointer-events: none;
    z-index: 100;
    
    canvas {
        width: 100%;
        height: 100%;
    }
    
    .scale {
        position: absolute;
        background: $background-color;
        top: 0;
        right: 0;
        font-size: 10px;
        color: #aaa;
        margin-top: -4em;
    }
}

